.order-summary span {
  text-align: right;
  margin-left: 2rem;
  position: absolute;
  right: 0;
  color: #e55dac;
}
.order-summary p {
  position: relative;
  font-size: 1rem;
  color: #3d65aa;
  font-weight: bold;
}
.smr-prices {
  font-weight: bold;
  text-align: center;
  color: #127f12;
  border: 2px solid;
  padding: 2rem;
}
button.another-product {
  font-weight: bold;
  background: #e55dac;
}
button.backward, button.forward, button.submit {
  font-weight: bold;
  background: #82a84b;
}
button {
  border: none;
  color: #fff;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  outline: none;
  min-width: 110px;
  text-align: center;
  position: relative;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  background: #82a84b;
}
footer {
  width: 100%;
  background-color: #ffffff;
}
main {
  min-height: 85vh;
}
#order-items-list p {
  margin-bottom: .3rem;
}

.question_title h3 {
  color: #2fbaac;
}
.item label strong {
  color: #2fbaac;
}
body {
  color: #2fbaac;
}
.box_general {
  border: 1px solid #2fbaac7d;
}

button.backward, button.forward, button.submit {
  background: #2fbaac;
}
.order-summary p {
  color: #648cd0;
}

.card-header {
  background-color: #2fbaac;
  border-bottom: 1px solid rgba(47, 186, 172, 0.28);
  color: #ffffff;
}
.card {
  border: 1px solid rgba(47, 186, 172, 0.44);
}

button:hover {
  background: #48dacc !important;
}

.window-dimensions-form {
  background-image: url("../img/window.png");
  background-size: contain;
  height: 350px;
  width: 350px;
  position: relative;
  font-weight: bold;
}

#height-input-group {
  position: absolute;
  width: 110px;
  right: 0;
  top: 120px;
  text-align: right;
}

#width-input-group {
  position: absolute;
  bottom: 0;
  left: 80px;
  width: 200px;
  text-align: center;
  padding-bottom: 0;
  margin: 0;
}

.window-dimensions-form input:focus {
  border-color: #2fbaac;
  background-color: #fff;
}
